@{
    ViewBag.Title = "Progress View";
}

<h2>Progress View</h2>

<div>
    <p>Total trainings count for last month: @ViewBag.TrainingsCount</p>
    <p>Strength exercises count for last month: @ViewBag.StrengthExercisesCount</p>
    <p>Cardio exercises count for last month: @ViewBag.CardioExercisesCount</p>
</div>